.badge {
  font-size: .8rem !important;
}

.launchCard {
  border-radius: 5px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.mission_patch {
  width: 100%;
}

.searchBar {
  width: 90vw !important;
}